<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>a11y nav aka Skip To navigation component</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
    <ul id="nav-access" class="skip-to-nav">
        <li>
            <a href="#main-nav">
                Skip to main navigation
            </a>
        </li>
        <li>
            <a href="#content">
                Skip to main content
            </a>
        </li>
        <li>
            <a href="#main-q">
                Skip to search
            </a>
        </li>
    </ul>
</body>

</html>
