/*
Keyboard & screen reader skip link menu
********************************************************************** */

.skip-to-nav * {
  box-sizing: border-box;
}

.skip-to-nav {
  --skip-to-nav-link-background-color: rgba(255 255 255 / 90%);
  --skip-to-nav-inline-size: 100%;
  --skip-to-nav-link-color: #212121;
  --skip-to-nav-outline: 0.0625rem solid #622aff;
  --skip-to-nav-padding: 1rem;
  --skip-to-nav-text-align: center;
  --skip-to-nav-z-index: 300;

  inline-size: var(--skip-to-nav-inline-size);
  inset-block-start: -20rem;
  inset-inline-start: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.skip-to-nav a {
  background-color: var(--skip-to-nav-link-background-color);
  color: var(--skip-to-nav-link-color);
  display: block;
  inline-size: var(--skip-to-nav-inline-size);
  inset-block-start: 0;
  opacity: 0;
  outline: var(--skip-to-nav-outline);
  padding-block: var(--skip-to-nav-padding);
  position: absolute;
  text-align: var(--skip-to-nav-text-align);
  transition:
    inset-block-start 0.3s ease-in-out,
    opacity 0.5s ease-in-out;
}

.skip-to-nav a:focus {
  inset-block-start: 20rem;
  opacity: 1;
  text-decoration: none;
  z-index: var(--skip-to-nav-z-index);
}

/* https://www.tpgi.com/the-anatomy-of-visually-hidden/ */
.visually-hidden:not(:focus, :active) {
  block-size: 1px;
  clip-path: inset(50%);
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

@media screen and (prefers-reduced-motion: reduce) {
  .skip-to-nav a {
    transition: none;
  }
}
