<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skip to navigation</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
    <skip-to-nav content="main-content" nav="main-nav" search="main-q"></skip-to-nav>

    <main class="main-content" id="main-content">
        <h1 class="primary-title"><abbr title="Accessibility">A11y</abbr> Nav - Skip To Navigation</h1>
    </main>

    <script type="module" src="js/skip-to-nav.js"></script>
</body>

</html>
