<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An accessible skip-to navigation web component" />

    <title>Skip-To Navigation</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png" />
    <link rel="manifest" href="assets/site.webmanifest" />
    <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#b04198" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:url" content="https://schalkneethling.github.io/common-components/components/skip-to-nav-wc/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Skip-To Navigation">
    <meta property="og:description" content="An accessible skip-to navigation web component">
    <meta property="og:image"
        content="https://schalkneethling.github.io/common-components/components/skip-to-nav-wc/assets/ogg-card.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="schalkneethling.github.io">
    <meta property="twitter:url"
        content="https://schalkneethling.github.io/common-components/components/skip-to-nav-wc/">
    <meta name="twitter:image"
        content="https://schalkneethling.github.io/common-components/components/skip-to-nav-wc/assets/ogg-card.png">

    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
    <skip-to-nav content="main-content"></skip-to-nav>

    <main class="main-content" id="main-content">
        <h1 class="primary-title">Skip-To Navigation <br />~ <abbr title="Accessibility">A11y</abbr> Nav</h1>
        <p class="primary-lead">The skip to navigation components (also known as a11y nav) provides a way for screen
            reader users to easily skip to some of the primary content areas (or landmarks) of your page that is likely
            to be of interest to them. While primarily meant to assist screen reader users, this is a <a
                href="https://ssir.org/articles/entry/the_curb_cut_effect">classic example of the curb cut effect</a> as
            this could also help those users who do not use a pointing device such as a mouse.
        </p>

        <h2>Using the skip-to web component</h2>
        <p>To use the component could not be easier. Add the HTML as the first element after your <code>body</code>
            element and include the JavaScript file before the closing <code>body</code> tag.</p>

        <pre>
<code>
&lt;skip-to-nav>&lt;/skip-to-nav>
&lt;script type="module" src="js/skip-to-nav.js">&lt;/script>
</code>
</pre>
        <h3>The attributes</h3>
        <p>The utility of the component is in its attributes. The component currently supports three custom attributes.
        </p>
        <ul>
            <li>nav</li>
            <li>search</li>
            <li>content</li>
        </ul>
        <p>The value for each attribute should match the text of the <code>id</code> attribute on the element the link
            will skip to. For example:</p>

        <pre>
<code>
&lt;main id="main-content">
    &lt;p>You main content goes here.&lt;/p>
&lt;/main>
</code>
</pre>

        <p>With the above in place, you can use the <code>skip-to</code> component as follows:</p>

        <pre>
<code>
&lt;skip-to-nav content="main-content">&lt;/skip-to-nav>
</code>
</pre>

        <h3>How about styling?</h3>
        <p>In order to change the styling of the component, the component exposes a couple of CSS customer properties
            which will allow you to pierce through the ShadowDOM.</p>

        <dl>
            <dt><code>--skip-to-nav-z-index</code></dt>
            <dd>The z-index of the component to ensure it will be shown above all other content on your page. The
                default value is <code>300</code>.</dd>
            <dt><code>--skip-to-nav-link-background-color</code></dt>
            <dd>The background of the links when they are focused. The default value is
                <code>rgba(255, 255, 255, 0.9)</code>.
            </dd>
            <dt><code>--skip-to-nav-link-color</code></dt>
            <dd>The color of the link text when they are focused. The default value is
                <code>#212121</code>. Note: When choosing your background and link text colors take a moment to <a
                    href="https://colourcontrast.cc/">ensure that the color combination passes contrast
                    requirements</a>.
            </dd>
            <dt><code>--skip-to-nav-typography-font-family</code></dt>
            <dd>The font family of used by the component. The default value is <code>sans-serif</code>.</dd>
            <dt><code>--skip-to-nav-typography-weight</code></dt>
            <dd>The font weight of the link text. The default value is <code>bold</code>.</dd>
            <dt><code>--skip-to-nav-box-shadow</code></dt>
            <dd>The <a href="https://developer.mozilla.org/docs/Web/CSS/box-shadow">CSS box shadow</a> of the component.
                The default value is <code>0.2rem 0.2rem 5px #eee</code>.</dd>
            <dt><code>--skip-to-nav-focus-outline</code></dt>
            <dd>The focus outline style to use when the links receive focus.
                The default value is <code>1px solid #212121</code>.</dd>
        </dl>
    </main>

    <footer class="page-footer">
        <p>Made with ❤️ and ☕ by <a href="https://github.com/schalkneethling">Schalk Neethling</a>. Found a bug? Have
            an idea? <a href="https://github.com/schalkneethling/common-components">Contribute on GitHub</a>.</p>
    </footer>

    <script type="module" src="js/skip-to-nav.js"></script>
</body>

</html>
