<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Featured Slider</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/reset.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/main.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/slide-base.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/feature-slide.css"
      media="screen"
    />
  </head>

  <body>
    <div class="slide-container no-js">
      <div class="slide-track">
        <article class="slide slide-featured theme-steel-blue">
          <div class="slide-featured-content">
            <hgroup class="slide-featured-header">
              <h2 class="typo-slide-main-heading">
                Gran Paradiso National Park
              </h2>
              <p class="typo-slide-overline">Graian Alps, Italy</p>
            </hgroup>
            <picture class="slide-featured-image">
              <source srcset="assets/gran-paradiso.avif" type="image/avif" />
              <img
                src="assets/gran-paradiso.webp"
                height="1250"
                width="1722"
                alt="Panoramic view of alpine mountains with patches of snow, two blue lakes, winding roads, and a sky filled with wispy and dense clouds."
              />
            </picture>
          </div>
          <footer>
            <a
              href="https://www.nationalparks.it/en/gran-paradiso-national-park"
              class="slide-featured-footer-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
              <span>Visit Gran Paradiso</span>
            </a>
          </footer>
        </article>

        <article class="slide slide-featured theme-mint">
          <div class="slide-featured-content">
            <hgroup class="slide-featured-header">
              <h2 class="typo-slide-main-heading">Zhangjiajie National Park</h2>
              <p class="typo-slide-overline">Hunan, China</p>
            </hgroup>
            <picture class="slide-featured-image">
              <source srcset="assets/zhangjiajie.avif" type="image/avif" />
              <img
                src="assets/zhangjiajie.webp"
                height="1250"
                width="1887"
                alt="Tall, narrow sandstone pillars covered with green trees rise from a misty forested landscape, with hazy mountains in the background."
              />
            </picture>
          </div>
          <footer>
            <a
              href="https://www.babagoeschina.com/zhangjiajie/"
              class="slide-featured-footer-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
              <span>Visit Zhangjiajie</span>
            </a>
          </footer>
        </article>

        <article class="slide slide-featured theme-gunmetal">
          <div class="slide-featured-content">
            <hgroup class="slide-featured-header">
              <h2 class="typo-slide-main-heading">Tchindzoulou Island</h2>
              <p class="typo-slide-overline">
                Democratic Republic of the Congo
              </p>
            </hgroup>
            <picture class="slide-featured-image">
              <source
                srcset="assets/tchindzoulou-island.avif"
                type="image/avif"
              />
              <img
                src="assets/tchindzoulou-island.webp"
                height="1250"
                width="1887"
                alt="Two people in green clothing walk through dense jungle with a group of chimpanzees following along a narrow path."
              />
            </picture>
          </div>
          <footer>
            <a
              href="https://taronga.org.au/news/2018-07-11/visit-tchindzoulou-island-congo"
              class="slide-featured-footer-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
              <span>Visit Tchindzoulou Island</span>
            </a>
          </footer>
        </article>

        <article class="slide slide-featured theme-outer-space">
          <div class="slide-featured-content">
            <hgroup class="slide-featured-header">
              <h2 class="typo-slide-main-heading">The Great Barrier Reef</h2>
              <p class="typo-slide-overline">Queensland, Australia</p>
            </hgroup>
            <picture class="slide-featured-image">
              <source
                srcset="assets/great-barrier-reef.avif"
                type="image/avif"
              />
              <img
                src="assets/great-barrier-reef.webp"
                height="1250"
                width="1887"
                alt="Underwater view of a colorful coral reef with yellow, orange, and purple coral. Many colorful fish, including iridescent blue and orange varieties, swim in the foreground and background. A diver is also visible in the distance amongst the fish."
              />
            </picture>
          </div>
          <footer>
            <a
              href="https://www.australia.com/en-us/places/cairns-and-surrounds/guide-to-the-great-barrier-reef.html"
              class="slide-featured-footer-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
              <span>Visit Great Barrier Reef</span>
            </a>
          </footer>
        </article>

        <article class="slide slide-featured theme-ice-blue">
          <div class="slide-featured-content">
            <hgroup class="slide-featured-header">
              <h2 class="typo-slide-main-heading">
                Northeast Greenland National Park
              </h2>
              <p class="typo-slide-overline">Greenland</p>
            </hgroup>
            <picture class="slide-featured-image">
              <source srcset="assets/greenland.avif" type="image/avif" />
              <img
                src="assets/greenland.webp"
                height="1250"
                width="1887"
                alt="Scenic view of a calm body of water reflecting snow-capped mountains under a muted, cloudy sky."
              />
            </picture>
          </div>
          <footer>
            <a
              href="https://www.australia.com/en-us/places/cairns-and-surrounds/guide-to-the-great-barrier-reef.html"
              class="slide-featured-footer-link"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
              <span>Visit Greenland</span>
            </a>
          </footer>
        </article>
      </div>
    </div>
  </body>
</html>
