<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info Slider</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/reset.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/main.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/slide-base.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/info-slide.css"
      media="screen"
    />
  </head>

  <body>
    <div class="slide-container no-js">
      <article class="slide info-slide theme-tea-green">
        <picture>
          <source srcset="./assets/fly-agaric.avif" type="image/avif" />
          <img
            class="info-slide-base-image"
            src="./assets/fly-agaric.webp"
            height="748"
            width="748"
            alt=""
          />
        </picture>
        <div class="info-slide-content">
          <hgroup>
            <h2 class="typo-slide-secondary-heading">Fly Agaric</h2>
            <p class="typo-slide-overline">Amanita muscaria</p>
          </hgroup>
          <ul class="facts typo-slide-list-item-small">
            <li>Native to northern hemisphere forests</li>
            <li>Hallucinogenic and toxic if eaten raw</li>
            <li>Iconic red cap with white spots</li>
            <li>Featured in fairy tales and video games</li>
          </ul>
        </div>
      </article>

      <article class="slide info-slide info-slide-reverse theme-flax">
        <picture>
          <source srcset="./assets/green-pepe.avif" type="image/avif" />
          <img
            class="info-slide-base-image"
            src="./assets/green-pepe.webp"
            height="560"
            width="896"
            alt=""
          />
        </picture>
        <div class="info-slide-content">
          <hgroup>
            <h2 class="typo-slide-secondary-heading">Green Pepe</h2>
            <p class="typo-slide-overline">Mycena chlorophos</p>
          </hgroup>
          <ul class="facts typo-slide-list-item-small">
            <li>Found in subtropical Asia and the Pacific</li>
            <li>Bioluminescent (glows green in the dark)</li>
            <li>Grows on decaying wood</li>
            <li>Glow fades after a few hours once picked</li>
          </ul>
        </div>
      </article>

      <article class="slide info-slide theme-coyote">
        <picture>
          <source srcset="./assets/devils-fingers.avif" type="image/avif" />
          <img
            class="info-slide-base-image"
            src="./assets/devils-fingers.webp"
            height="560"
            width="845"
            alt=""
          />
        </picture>
        <div class="info-slide-content">
          <hgroup>
            <h2 class="typo-slide-secondary-heading">Devil's fingers</h2>
            <p class="typo-slide-overline">Clathrus archeri</p>
          </hgroup>
          <ul class="facts typo-slide-list-item-small">
            <li>Native to Australia, now found worldwide</li>
            <li>Emits a foul odor (smells like rotting meat)</li>
            <li>Bright red, finger-like arms emerge from an egg</li>
            <li>Attracts flies to spread spores</li>
          </ul>
        </div>
      </article>

      <article class="slide info-slide info-slide-reverse theme-rose-ebony">
        <picture>
          <source srcset="./assets/lions-mane.avif" type="image/avif" />
          <img
            class="info-slide-base-image"
            src="./assets/lions-mane.webp"
            height="748"
            width="748"
            alt=""
          />
        </picture>
        <div class="info-slide-content">
          <hgroup>
            <h2 class="typo-slide-secondary-heading">Lion's mane</h2>
            <p class="typo-slide-overline">Hericium erinaceus</p>
          </hgroup>
          <ul class="facts typo-slide-list-item-small">
            <li>Grows on dead or dying hardwood trees</li>
            <li>Edible and used in traditional Chinese medicine</li>
            <li>Resembles a white pom-pom or shaggy mane</li>
            <li>Studied for potential nerve-regenerating properties</li>
          </ul>
        </div>
      </article>

      <article class="slide info-slide theme-bistro">
        <picture>
          <source srcset="./assets/indigo-milk-cap.avif" type="image/avif" />
          <img
            class="info-slide-base-image"
            src="./assets/indigo-milk-cap.webp"
            height="589"
            width="748"
            alt=""
          />
        </picture>
        <div class="info-slide-content">
          <hgroup>
            <h2 class="typo-slide-secondary-heading">Indigo milk cap</h2>
            <p class="typo-slide-overline">Lactarius indigo</p>
          </hgroup>
          <ul class="facts typo-slide-list-item-small">
            <li>Found in eastern North America and Central America</li>
            <li>Exudes blue "milk" when cut</li>
            <li>Edible, with mild flavor</li>
            <li>Color fades when cooked</li>
          </ul>
        </div>
      </article>
    </div>
  </body>
</html>
