<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blackened Crust Pizza</title>
  <link rel="stylesheet" type="text/css" href="./css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./css/main-start.css" media="screen" />
</head>

<body>
  <header class="site-header">
    <img src="./assets/just-pizza-logo.svg" height="49" width="248" alt="Just Pizza Logo" />
  </header>
  <div class="hero">
    <picture class="hero-image">
      <source srcset="./assets/hero.avif" type="image/avif" />
      <img src="./assets/hero.webp" height="1800" width="2400"
        alt="A busy pizza shop at night with neon signs reading Free Delivery and Pizza by the Slice; people are ordering and eating inside." />
    </picture>
    <div class="hero-overlay">
      <hgroup>
        <h2 class="hero-overlay-title">Blackened Crust Pizza</h2>
        <p class="hero-overlay-overline">
          Forged in Fire. Baked in Hell.
        </p>
      </hgroup>
      <p class="hero-overlay-tagline">Louder than your mom's lasagna. Locally Sourced. Demonically Delicious.</p>
    </div>
    <!-- <div class="hero-overlay">
        <h2 class="hero-overlay-title">Demolition Man</h2>
        <p>
          Chopped Garlic, Ricotta, Dollops of House Red Sauce, Fresh Basil,
          Olive Oil and a light dusting of Herbs and Spices
        </p>
        <a
          href="https://sizzlepie.com/menus"
          class="button-primary"
          target="_blank"
          rel="noopener noreferrer"
          >Order Now</a
        >
      </div> -->
  </div>
  <!-- Photo by <a href="https://unsplash.com/@reganography?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Samuel Regan-Asante</a> on <a href="https://unsplash.com/photos/a-wall-with-posters-on-it-2UFsGAR_qNY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> -->
</body>

</html>
