<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Curated Gallery</title>
  <link rel="stylesheet" type="text/css" href="../shared/css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="./css/main.css" media="screen" />

  <style>
    image-grid {
      display: block;
      max-inline-size: 100rem;
      margin-inline: auto;
    }
  </style>
</head>

<body>
  <image-grid>
    <ul class="image-grid-list reset-list">
      <li class="image-grid-list-item">
        <a href="./assets/gallery001/gallery001@4x.webp">
          <picture>
            <source srcset="./assets/gallery001/gallery001@4x.avif" media="(width >= 100rem)" type="image/avif">
            <source srcset="./assets/gallery001/gallery001@3x.avif" media="(width >= 64rem)" type="image/avif">
            <source srcset="./assets/gallery001/gallery001@2x.avif" media="(width >= 48rem)" type="image/avif">
            <source srcset="./assets/gallery001/gallery001.avif" type="image/avif">

            <source srcset="./assets/gallery001/gallery001@4x.webp" media="(width >= 100rem)" type="image/webp">
            <source srcset="./assets/gallery001/gallery001@3x.webp" media="(width >= 64rem)" type="image/webp">
            <source srcset="./assets/gallery001/gallery001@2x.webp" media="(width >= 48rem)" type="image/webp">
            <source srcset="./assets/gallery001/gallery001.webp" type="image/webp">

            <img src="./assets/gallery001/gallery001.jpg" width="640" height="320" alt="">
          </picture>
        </a>
      </li>
      <li class="image-grid-list-item">
        <a href="./assets/gallery002/gallery002@4x.webp">
          <picture>
            <source srcset="./assets/gallery002/gallery002@4x.avif" media="(width >= 100rem)" type="image/avif">
            <source srcset="./assets/gallery002/gallery002@3x.avif" media="(width >= 64rem)" type="image/avif">
            <source srcset="./assets/gallery002/gallery002@2x.avif" media="(width >= 48rem)" type="image/avif">
            <source srcset="./assets/gallery002/gallery002.avif" type="image/avif">

            <source srcset="./assets/gallery002/gallery002@4x.webp" media="(width >= 100rem)" type="image/webp">
            <source srcset="./assets/gallery002/gallery002@3x.webp" media="(width >= 64rem)" type="image/webp">
            <source srcset="./assets/gallery002/gallery002@2x.webp" media="(width >= 48rem)" type="image/webp">
            <source srcset="./assets/gallery002/gallery002.webp" type="image/webp">

            <img src="./assets/gallery002/gallery002.jpg" width="640" height="320" alt="">
          </picture>
        </a>
      </li>
      <li class="image-grid-list-item">
        <picture>
          <source srcset="./assets/gallery003/gallery003@4x.avif" media="(width >= 100rem)" type="image/avif">
          <source srcset="./assets/gallery003/gallery003@3x.avif" media="(width >= 64rem)" type="image/avif">
          <source srcset="./assets/gallery003/gallery003@2x.avif" media="(width >= 48rem)" type="image/avif">
          <source srcset="./assets/gallery003/gallery003.avif" type="image/avif">

          <source srcset="./assets/gallery003/gallery003@4x.webp" media="(width >= 100rem)" type="image/webp">
          <source srcset="./assets/gallery003/gallery003@3x.webp" media="(width >= 64rem)" type="image/webp">
          <source srcset="./assets/gallery003/gallery003@2x.webp" media="(width >= 48rem)" type="image/webp">
          <source srcset="./assets/gallery003/gallery003.webp" type="image/webp">

          <img src="./assets/gallery003/gallery003.jpg" width="640" height="320" alt">
        </picture>
      </li>
      <li class="image-grid-list-item">
        <picture>
          <source srcset="./assets/gallery004/gallery004@4x.avif" media="(width >= 100rem)" type="image/avif">
          <source srcset="./assets/gallery004/gallery004@3x.avif" media="(width >= 64rem)" type="image/avif">
          <source srcset="./assets/gallery004/gallery004@2x.avif" media="(width >= 48rem)" type="image/avif">
          <source srcset="./assets/gallery004/gallery004.avif" type="image/avif">

          <source srcset="./assets/gallery004/gallery004@4x.webp" media="(width >= 100rem)" type="image/webp">
          <source srcset="./assets/gallery004/gallery004@3x.webp" media="(width >= 64rem)" type="image/webp">
          <source srcset="./assets/gallery004/gallery004@2x.webp" media="(width >= 48rem)" type="image/webp">
          <source srcset="./assets/gallery004/gallery004.webp" type="image/webp">

          <img src="./assets/gallery004/gallery004.jpg" width="640" height="320" alt="">
        </picture>
      </li>
      <li class="image-grid-list-item">
        <picture>
          <source srcset="./assets/gallery005/gallery005@4x.avif" media="(width >= 100rem)" type="image/avif">
          <source srcset="./assets/gallery005/gallery005@3x.avif" media="(width >= 64rem)" type="image/avif">
          <source srcset="./assets/gallery005/gallery005@2x.avif" media="(width >= 48rem)" type="image/avif">
          <source srcset="./assets/gallery005/gallery005.avif" type="image/avif">

          <source srcset="./assets/gallery005/gallery005@4x.webp" media="(width >= 100rem)" type="image/webp">
          <source srcset="./assets/gallery005/gallery005@3x.webp" media="(width >= 64rem)" type="image/webp">
          <source srcset="./assets/gallery005/gallery005@2x.webp" media="(width >= 48rem)" type="image/webp">
          <source srcset="./assets/gallery005/gallery005.webp" type="image/webp">

          <img src="./assets/gallery005/gallery005.jpg" width="640" height="320" alt="">
        </picture>
      </li>
      <li class="image-grid-list-item">
        <picture>
          <source srcset="./assets/gallery006/gallery006@4x.avif" media="(width >= 100rem)" type="image/avif">
          <source srcset="./assets/gallery006/gallery006@3x.avif" media="(width >= 64rem)" type="image/avif">
          <source srcset="./assets/gallery006/gallery006@2x.avif" media="(width >= 48rem)" type="image/avif">
          <source srcset="./assets/gallery006/gallery006.avif" type="image/avif">

          <source srcset="./assets/gallery006/gallery006@4x.webp" media="(width >= 100rem)" type="image/webp">
          <source srcset="./assets/gallery006/gallery006@3x.webp" media="(width >= 64rem)" type="image/webp">
          <source srcset="./assets/gallery006/gallery006@2x.webp" media="(width >= 48rem)" type="image/webp">
          <source srcset="./assets/gallery006/gallery006.webp" type="image/webp">

          <img src="./assets/gallery006/gallery006.jpg" width="640" height="320" alt="">
        </picture>
      </li>
      <li class="image-grid-list-item">
        <picture>
          <source srcset="./assets/gallery007/gallery007@4x.avif" media="(width >= 100rem)" type="image/avif">
          <source srcset="./assets/gallery007/gallery007@3x.avif" media="(width >= 64rem)" type="image/avif">
          <source srcset="./assets/gallery007/gallery007@2x.avif" media="(width >= 48rem)" type="image/avif">
          <source srcset="./assets/gallery007/gallery007.avif" type="image/avif">

          <source srcset="./assets/gallery007/gallery007@4x.webp" media="(width >= 100rem)" type="image/webp">
          <source srcset="./assets/gallery007/gallery007@3x.webp" media="(width >= 64rem)" type="image/webp">
          <source srcset="./assets/gallery007/gallery007@2x.webp" media="(width >= 48rem)" type="image/webp">
          <source srcset="./assets/gallery007/gallery007.webp" type="image/webp">

          <img src="./assets/gallery007/gallery007.jpg" width="640" height="320" alt="">
        </picture>
      </li>
    </ul>
    <dialog id="lightbox" class="lightbox">
      <form class="close-lightbox" method="dialog">
        <button type="submit" class="button primary">Close</button>
      </form>

      <div class="lightbox-container">
        <span class="lightbox-slide-count"></span>

        <div class="lightbox-media-container"></div>

        <button type="button" class="lightbox-slide-prev">
          previous
        </button>
        <button type="button" class="lightbox-slide-next">
          next
        </button>
      </div>
    </dialog>
  </image-grid>
  <script src="./js/image-grid.js"></script>
</body>

</html>
