:root {
  --cream-background: #f8fccd;
  --cream-color: #292a19;
  --thistle-background: #eaccfd;
  --thistle-color: #281f2d;

  --size-4: 0.25rem; /* 4 / 16 = 0.25rem */
  --size-8: 0.5rem; /* 8 / 16 = 0.5rem */
  --size-16: 1rem; /* 16 / 16 = 1rem */
  --size-24: 1.5rem; /* 24 / 16 = 1.5rem */
  --size-32: 2rem; /* 32 / 16 = 2rem */
  --size-48: 3rem; /* 48 / 16 = 3rem */
  --size-64: 4rem; /* 64 / 16 = 4rem */
  --size-80: 5rem; /* 80 / 16 = 5rem */

  --spacing-content-block: clamp(10cqi, 2cqi, 20cqi);

  --typography-xl: 1.802rem;
  --typography-large: 1.602rem;
  --typography-medium: 1.424rem;
  --typography-small-medium: 1.266rem;
  --typography-default: 1rem;
  --typography-small: 0.875rem;
  --typography-tiny: 0.75rem;

  --slide-datetime: clamp(
    var(--typography-small),
    5cqi,
    var(--typography-default)
  );
  --slide-title: clamp(
    var(--typography-small-medium),
    8cqi,
    var(--typography-xl)
  );
}

.slide-container {
  display: flex;
  gap: var(--size-16);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slide {
  --theme-background-color: var(--theme-base);
  --theme-border-color: hsl(from var(--theme-base) h s 85%);
  --theme-foreground-color: hsl(from var(--theme-base) h s 5%);
  --theme-link-color: hsl(from var(--theme-base) h s 5%);

  aspect-ratio: 9 / 16;
  block-size: clamp(30rem, 56.25vw, 45rem);
  container-type: inline-size;
  inline-size: auto;
  line-height: 1.2;

  .slide-list {
    display: grid;
    gap: clamp(var(--size-8), 4.5cqi, var(--size-16));
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slide-title {
    line-height: 1.2;
    margin: 0;
  }

  img {
    aspect-ratio: 4 / 3;
    block-size: auto;
    inline-size: 23.4375rem; /* 375px / 16 = 23.4375rem */
  }

  .slide-content {
    display: grid;
    gap: var(--size-16);
    padding-block-start: var(--spacing-content-block);
    padding-inline-start: var(--size-24);

    hgroup {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--size-8);
    }

    time {
      font-size: var(--slide-datetime);
    }

    .facts {
      display: grid;
      font-size: var(--typography-small);
      gap: var(--size-8);
      margin: 0;
      padding-inline-start: var(--size-16);
    }

    .slide-title {
      font-size: var(--slide-title);
      margin: 0;
    }
  }

  &.slide-reverse {
    display: grid;
    grid-template:
      "content" 2fr
      "media" 1fr;
    padding: 0;
    padding-inline-start: var(--size-24);
    place-items: start end;

    img {
      grid-area: media;
    }

    .slide-content {
      grid-area: content;
      padding: 0;
      padding-block-start: var(--spacing-content-block);
      padding-inline-end: var(--size-24);
    }
  }

  &.theme-thistle {
    background-color: var(--thistle-background);
    color: var(--thistle-color);
  }

  &.theme-cream {
    background-color: var(--cream-background);
    color: var(--cream-color);
  }
}

.theme-blue {
  --theme-base: #00a9e0;
}

.theme-beige {
  --theme-base: #dad4be;
  --theme-border-color: hsl(from var(--theme-base) h s 15%);
}

.theme-darkslategrey {
  --theme-base: darkslategrey;
  --theme-foreground-color: hsl(from var(--theme-base) h s 85%);
  --theme-link-color: hsl(from var(--theme-base) h s 85%);
}

.theme-lightgreen {
  --theme-base: #addd91;
}

.content-slide {
  --default-typo-size: clamp(0.889rem, 5cqi, 1.125rem);
  --medium-typo-size: clamp(1rem, 5.2cqi, 1.266rem);
  --large-typo-size: clamp(1.125rem, 7cqi, 1.602rem);

  align-items: end;
  background-color: var(--theme-background-color);
  color: var(--theme-foreground-color);
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--size-24);

  a {
    color: var(--theme-link-color);

    &:hover,
    &:focus-visible {
      text-decoration: none;
    }
  }

  .content-slide-main {
    display: grid;
    gap: var(--size-24);

    header {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--size-8);
    }

    .slide-overline {
      font-size: var(--default-typo-size);
      margin: 0;
    }

    .slide-title {
      font-size: var(--large-typo-size);
    }
  }

  .slide-list {
    font-size: var(--medium-typo-size);

    li {
      align-items: center;
      display: flex;
      gap: var(--size-8);
    }

    li::before {
      background-color: var(--theme-foreground-color);
      block-size: var(--size-24);
      content: "";
      display: block;
      inline-size: var(--size-24);
      mask-image: url("../assets/arrow.svg");
      mask-size: contain;
    }
  }

  .content-slide-footer {
    align-items: center;
    display: grid;
    gap: var(--size-16);
    grid-template-areas: "picture content";
    grid-template-columns: minmax(var(--size-32), var(--size-80)) 60%;

    picture {
      grid-area: picture;
    }

    .slide-footer-content {
      font-size: var(--default-typo-size);
      grid-area: content;
      margin: 0;
    }

    img {
      aspect-ratio: 1 / 1;
      border: var(--size-4) solid var(--theme-border-color);
      border-radius: 50%;
    }

    .slide-footer-content-row {
      display: block;
      margin-block-end: var(--size-4);
    }
  }
}

.video-slide {
  color: white;
  position: relative;

  .video-slide-video {
    aspect-ratio: 9 / 16;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }

  .video-slide-footer {
    align-items: center;
    background-color: hsl(0deg 0% 0% / 10%);
    display: flex;
    gap: var(--size-4);
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    justify-content: end;
    padding: var(--size-16);
    position: absolute;

    .video-slide-footer-button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
}

/* https://www.tpgi.com/the-anatomy-of-visually-hidden/ */
.visually-hidden {
  block-size: 1px;
  clip-path: inset(50%);
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.hidden {
  display: none;
}
