<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fancy Slider</title>
  <link rel="stylesheet" type="text/css" href="./css/reset.css" media="screen">
  <link rel="stylesheet" type="text/css" href="./css/main.css" media="screen">
</head>

<body>
  <div class="slide-container">
    <article class="slide theme-thistle">
      <img src="./assets/ada.webp" height="215" width="287" alt="">
      <div class="slide-content">
        <hgroup>
          <h2 class="slide-title">Ada Lovelace</h2>
          <time datetime="1815-12-10">1815-12-10</time>
        </hgroup>
        <ul class="facts">
          <li>Considered the world's first computer programmer</li>
          <li>Worked on Charles Babbage's early mechanical general-purpose computer</li>
          <li>Her notes on the Analytical Engine include what is now recognized as the first algorithm intended to be
            carried out by a machine</li>
        </ul>
      </div>
    </article>

    <article class="slide slide-reverse theme-cream">
      <img src="./assets/grace.webp" height="215" width="287" alt="">
      <div class="slide-content">
        <hgroup>
          <h2 class="slide-title">Grace Hopper</h2>
          <time datetime="1906-12-09">1906-12-09</time>
        </hgroup>
        <ul class="facts">
          <li>Developed the first compiler for a programming language</li>
          <li>Contributed to the development of COBOL, one of the first high-level programming languages</li>
          <li>Advocated for the inclusion of women in the computing field</li>
        </ul>

    </article>
  </div>
</body>

</html>
