<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Responsive Slider</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/reset.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./css/main.css"
      media="screen"
    />
  </head>
  <body>
    <div class="simple-slider">
      <article class="simple-slider-slide">
        <div class="simple-slider-slide-content">
          <picture class="simple-slider-slide-image">
            <source srcset="./assets/charlie-robbins.avif" type="image/avif" />
            <img
              src="./assets/charlie-robbins.webp"
              height="540"
              width="430"
              alt="Charlie Robbins"
            />
          </picture>

          <h2 class="simple-slider-slide-title">Charlie Robbins</h2>
          <p>
            Charlie Robbins is the virtuosic guitarist and primary creative mind
            behind the instrumental progressive metal project Syncatto. Known
            for his incredibly precise, technical, and dynamic playing, Robbins
            crafts complex, multi-layered guitar arrangements that blend
            intricate modern techniques like sweeping and tapping with
            compelling melodies and complex rhythmic structures.
          </p>
        </div>
        <footer class="simple-slider-slide-footer">
          <a
            class="primary-button"
            href="https://www.youtube.com/@CharlieRobbins"
            target="_blank"
            >Learn more about Charlie Robbins</a
          >
        </footer>
      </article>
      <article class="simple-slider-slide">
        <div class="simple-slider-slide-content">
          <picture class="simple-slider-slide-image">
            <source srcset="./assets/russian-circles.avif" type="image/avif" />
            <img
              src="./assets/russian-circles.webp"
              height="540"
              width="430"
              alt="Russian Circles"
            />
          </picture>

          <h2 class="simple-slider-slide-title">Russian Circles</h2>
          <p>
            Russian Circles is an instrumental post-metal band from Chicago,
            Illinois, formed in 2005. The band is known for its slow,
            atmospheric sound, which combines elements of post-metal, sludge
            metal, and drone metal. The band's music is characterized by its use
            of minimalistic instrumentation and a focus on texture and
            atmosphere.
          </p>
        </div>
        <footer class="simple-slider-slide-footer">
          <a
            class="primary-button"
            href="https://russiancircles.com/"
            target="_blank"
            >Learn more about Russian Circles</a
          >
        </footer>
      </article>
      <article class="simple-slider-slide">
        <div class="simple-slider-slide-content">
          <picture class="simple-slider-slide-image">
            <source srcset="./assets/clayton-king.avif" type="image/avif" />
            <img
              src="./assets/clayton-king.webp"
              height="540"
              width="430"
              alt="Clayton King"
            />
          </picture>
          <h2 class="simple-slider-slide-title">Clayton King</h2>
          <p>
            Clayton King is a guitarist and producer based in Austin, Texas,
            known for his technical prowess and innovative approach to heavy
            music. He is a member of the band So It Begins and has also toured
            as a guitarist for Nothing, Nowhere. King is recognized for his
            intricate riff writing, which draws inspiration from a diverse range
            of genres.
          </p>
        </div>
        <footer class="simple-slider-slide-footer">
          <a
            class="primary-button"
            href="https://www.youtube.com/c/claytonking"
            target="_blank"
            >Learn more about Clayton King</a
          >
        </footer>
      </article>
      <article class="simple-slider-slide">
        <div class="simple-slider-slide-content">
          <picture class="simple-slider-slide-image">
            <source srcset="./assets/matteo-mancuso.avif" type="image/avif" />
            <img
              src="./assets/matteo-mancuso.webp"
              height="540"
              width="430"
              alt="Matteo Mancuso"
            />
          </picture>
          <h2 class="simple-slider-slide-title">Matteo Mancuso</h2>
          <p>
            Matteo Mancuso is an Italian guitarist who has rapidly gained
            international recognition for his extraordinary technical skill and
            unique approach to the instrument, particularly his intricate
            fingerstyle technique on the electric guitar, eschewing the use of a
            pick. Drawing on influences from jazz, rock, and classical guitar.
          </p>
        </div>
        <footer class="simple-slider-slide-footer">
          <a
            class="primary-button"
            href="https://www.youtube.com/@MatteoMancusoofficial"
            target="_blank"
            >Learn more about Matteo Mancuso</a
          >
        </footer>
      </article>
      <article class="simple-slider-slide">
        <div class="simple-slider-slide-content">
          <picture class="simple-slider-slide-image">
            <source srcset="./assets/mike-dawes.avif" type="image/avif" />
            <img
              src="./assets/mike-dawes.webp"
              height="540"
              width="430"
              alt="Mike Dawes"
            />
          </picture>
          <h2 class="simple-slider-slide-title">Mike Dawes</h2>
          <p>
            Mike Dawes is an English acoustic fingerstyle guitarist renowned for
            his intricate technique, which allows him to simultaneously perform
            melody, bass, harmony, and percussive elements on a single guitar.
            Known for his viral arrangements of popular songs and original
            compositions, Dawes employs extended techniques like percussive
            slapping and tapping, harmonics, and hybrid picking to create a
            rich, multi-layered sound.
          </p>
        </div>
        <footer class="simple-slider-slide-footer">
          <a
            class="primary-button"
            href="https://www.youtube.com/@MikeDawesOfficial"
            target="_blank"
            >Learn more about Mike Dawes</a
          >
        </footer>
      </article>
      <article class="simple-slider-slide">
        <div class="simple-slider-slide-content">
          <picture class="simple-slider-slide-image">
            <source srcset="./assets/ro-han.avif" type="image/avif" />
            <img
              src="./assets/ro-han.webp"
              height="540"
              width="430"
              alt="Ro Han"
            />
          </picture>
          <h2 class="simple-slider-slide-title">Ro Han</h2>
          <p>
            Based in Melbourne, Australia Rohan 'Ro Han' Stevenson has been
            releasing self produced instrumental guitar music under the name 'I
            Built The Sky' since 2012. Ranging from complex riffs, shredding
            guitars, catchy melodic lead work through to intricate acoustic
            pieces, Ro has gained worldwide attention as one to watch among the
            modern guitar community.
          </p>
        </div>
        <footer class="simple-slider-slide-footer">
          <a
            class="primary-button"
            href="https://www.youtube.com/@IBuiltTheSky"
            target="_blank"
            >Learn more about Ro Han</a
          >
        </footer>
      </article>
    </div>
  </body>
</html>
